*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
    width: 100vw;
    height: 100vh;


}

main{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    

    .img-main{

        width: 340px;
        height: 433px;

    }

    a{
        color: white;
        text-decoration: none;
        font-size: 20px;
    }

    header{
        display: flex;
        gap: 20px;
        padding: 10px;
    }
  
}

.button-help{
    background: black;
    border: none;
    position: fixed;
    right: 0;
    margin-right: 10px;
    margin-top: 146px;
}



.button-help:active{
    background: rgb(131, 129, 125);
}